# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Wong\Documents\a3-modular-kalah-OverCry\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
out/
.idea/
a3-modular-kalah-OverCry.iml
bin/
Makefile